@import "mixin";

@mixin textBox {
    height: 48px;
    border: 1px solid #BBBCBC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
}

@mixin label {
    font-size: 14.5px;
    padding: 21px 0px 14px;
}

@font-face {
    font-family: 'GraphikRegular';
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/rebrand/Graphik-Regular-Web.woff2") format('woff2');
}
@font-face {
    font-family: 'GraphikMedium';
    font-weight: 100;
    font-style: lightest;
    src: url("../assets/fonts/rebrand/Graphik-Medium.woff2") format('woff2');
}
@font-face {
    font-family: 'GraphikSemibold';
    font-weight: 600;
    font-style: semibold;
    src: url("../assets/fonts/rebrand/Graphik-Semibold-Web.woff2") format('woff2');
}
@font-face {
    font-family: 'PublicoBanner';
    font-weight: 700;
    font-style: bold;
    src: url("../assets/fonts/rebrand/PublicoBanner-Bold-Web.woff2") format('woff2');
}
@font-face {
    font-family: 'PublicoBanner';
    font-weight: 100;
    font-style: lightest;
    src: url("../assets/fonts/rebrand/PublicoBanner-Medium-Web.woff2") format('woff2');
}
@font-face {
    font-family: 'PublicoBanner';
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/rebrand/PublicoBanner-Regular-Web.woff2") format('woff2');
}
@font-face {
    font-family: 'PublicoHeadline';
    src: url("../assets/fonts/rebrand/PublicoHeadline-Medium-Web.woff2") format('woff2');
}

body {
    display: contents;
}

.header {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);

    &__logo {
        padding: 0px 20px 10px;
        font-size: 20px;
        font-family: PublicoHeadline;
        font-weight: normal;
        line-height: 125%;
        letter-spacing: -0.013em;
    }
}

.main-container {
    display: block;
    padding: 0px 17.5px 10px;

    &__calculator {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
        height: 560px;
        padding: 10px;
    }

    &__title {
        font-family: Helvetica Neue;
        font-weight: normal;
        font-size: 12.9px;
        line-height: 150%;
        letter-spacing: 0.023em;
    }

    &__space {
        border: 1px solid #DDDDDD;
    }

    &__results {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
    }

    &-inner {

        &__action {
            background: #316EEF;
            border-radius: 8px;
            height: 56px;
            width: 100%;
            margin-top: 30px;
            font-size: 18px;
            color: white;
        } 

        &__sliders-group {
            width: 100%;
            margin: 15px 0px;

            &__main-label {
                font-family: GraphikRegular;
                font-style: normal;
                font-weight: normal;
                font-size: 12.8px;
                line-height: 150%;
            }

            &__text {
                @include textBox;
                width: 88px;
                text-align: center;
            }

            &__years-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__label {
                font-size: 14.5px;
            }

            &__slider {
                -webkit-appearance: none;
                width: 148px;
                height: 8px;
                border-radius: 5px;  
                background: #1B3979;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
                border-radius: 8px;
            }

            &__slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%; 
                background: #FFFFFF;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
                cursor: pointer;
            }

            &__slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
                cursor: pointer;
            }
        }

        &__texts-group {
            width: 100%;

            &__loan-amount-label,
            &__annual-tax-label,
            &__annual-insurance-label {
                @include label;
            }          

            &__loan-amount-box,
            &__annual-tax-box,
            &__annual-insurance-box {
                @include textBox;
                width: 120px;
            }

            &__loan-amount-box {
                width: 100%;
                margin-top: 15px;
            }

            &-inner-container {
                display: flex;
                justify-content: space-between;

                &__annual-tax-group,
                &__annual-insurance-group {
                    display: inline-grid;
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .header {
        width: 100%;
        height: 64px;

        &__logo {
            font-size: 31.25px;
            padding-left: 150px;
        }
    }

    .main-container {
        display: flex;
        padding: 20px 50px 0px 150px;
    
        &__calculator {
            width: 677px;
            height: 648px;
        }

        &__title {
            font-size: 14.5px;
        }

        &__results {
            width: 677px;
            height: 648px;
        }

        &-inner {
            &__action {
                font-size: 20px;
            } 
            &__sliders-group {
                margin: 30px 0px;

                &__main-label {
                    @include label;
                }

                &__slider {
                    width: 60%;
                    height: 16px;
                }

                &__label {
                    font-family: Graphik;
                    font-size: 20px;
                    line-height: 150%;
                }
            }

            &__texts-group {
                    &__annual-tax-box,
                    &__annual-insurance-box {
                        width: 250px;
                    }
                    

                    &-inner-container {
                        width: 100%;

                    }
                }
        }
    }

}